<template>
    <div class="input-group">
            <div id="user-typed"></div>
            <input id="btn-input1" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage" @keydown="typeMessage">

        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
                Send
            </button>
        </span>
    </div>
</template>

<script>
    export default {
        props: {
          'user':{
              required: true,
              type: Object
          }
        },
        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    user_name: this.user.name,
                    message: this.newMessage
                });

                this.user_name='';
                this.newMessage = '';
            },
            typeMessage() {
                Echo.private('chat')
                    .whisper('typing', {
                        name: this.user.name
                    });
            }
        }    
    }
</script>