<template lang="pug">
div
    div(class="panel panel-default")
        div(class="panel-heading") Task Component
        div(class="panel-body") I'm an task component! {{varHello}}
            table(class="table table-striped task-table",v-if="tasks && tasks.length")
                thead
                    th Task
                    th &nbsp;
                tbody
                    tr(v-for="task in tasks")
                        td(class="table-text")
                            div {{task.name}}
                        td
                            button(class="btn btn-danger", v-on:click="deleteTask(task.id)")
                                div(class="fa fa-btn fa-trash") Delete
            ul(v-if="errors && errors.length")
                li(v-for="error of errors") {{error.message}}         
            div(class="form-group")
                label(for="task-name",class="col-sm-3 control-label") Task
                div(class="col-sm-6")
                    input(type="text",id="task-name",class="form-control",v-model="inputTask")
            div(class="form-group")
                div(class="col-sm-offset-3 col-sm-6")
                    button(class="btn btn-default", v-on:click="addTask(inputTask)") 
                        i(class="fa fa-btn fa-plus")
                        span Add task
                       

    //-///////////////////HTML//////////////////////////////  
    //- <div class="panel panel-default">
        <div class="panel-heading">Task Component</div>

        <div class="panel-body">
            I'm an task component! {{varHello}} {{theTasks}}
            <table class="table table-striped task-table" v-if="tasks && tasks.length">
                <thead>
                    <th>Task</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <tr v-for="task in tasks">
                        <td class="table-text"><div>{{ task.name }}</div></td>
                      
                        <td>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-btn fa-trash"></i>Delete
                     		</button>
                        </td>
                    </tr>
                </tbody>
            </table>

              <ul v-if="errors && errors.length">
                <li v-for="error of errors">
                  {{error.message}}
                </li>
              </ul>
        </div>
    //- </div>
</template>

<script>
    var i=1;
    console.log(i);
    export default {
        mounted() {
            console.log('Component task mounted.');
        },
		data () {
			return {
				msg: 'Welcome to Your Vue.js App',
				varHello: this.var,
                tasks: [],
                errors: [],
                inputTask: '',
                counter:''
			}
		},
		props: ['var'],
        created () {
            axios.get(`/api/task`)
                .then(response => {
                  // JSON responses are automatically parsed.
                  this.tasks = response.data
                })
                .catch(e => {
                  this.errors.push(e)
                })
        },
        methods: {
            addTask: function (inputTask) {
                axios.post(`/api/task`,{
                    name: inputTask  
                })
                .then(response => {
                    // JSON responses are automatically parsed.
                    if(response.data.success == 'OK')
                        this.tasks.push(JSON.parse(response.data.newTask));
                    console.log(JSON.parse(response.data.newTask));
                })
                .catch(e => {
                  this.errors.push(e)
                })
            },
            deleteTask: function (id) {
               
                axios.delete(`/api/task/`+id)
                .then(response => {
                    // JSON responses are automatically parsed.
                    if(response.data.success == 'OK')
                        this.tasks = JSON.parse(response.data.tasks)
                })
                .catch(e => {
                  this.errors.push(e)
                })
            }
        }
    }
</script>
<style lang="stylus" scoped>
.panel-heading
	font-size: 50px
</style>